:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #0f172a;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
}

#root {
  width: 100%;
  margin: 0 auto;
}